USE [master]
GO
/****** Object:  Database [HaberPortali]    Script Date: 29.10.2017 20:56:22 ******/
CREATE DATABASE [HaberPortali]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HaberPortali', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\HaberPortali.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'HaberPortali_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\HaberPortali_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HaberPortali].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HaberPortali]
GO
/****** Object:  User [ra]    Script Date: 29.10.2017 20:56:22 ******/
CREATE USER [ra] FOR LOGIN [ra] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 29.10.2017 20:56:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Etiket]    Script Date: 29.10.2017 20:56:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Etiket](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[EtiketAdi] [nvarchar](max) NULL,
	[EklenmeTarihi] [datetime] NOT NULL,
	[AktifMi] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Etiket] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Haber]    Script Date: 29.10.2017 20:56:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Haber](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Baslik] [nvarchar](255) NOT NULL,
	[KisaAciklama] [nvarchar](max) NULL,
	[Aciklama] [nvarchar](max) NULL,
	[Okunma] [int] NOT NULL,
	[Resim] [nvarchar](255) NULL,
	[EklenmeTarihi] [datetime] NOT NULL,
	[AktifMi] [bit] NOT NULL,
	[KategoriID] [int] NOT NULL,
	[KullaniciID] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Haber] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HaberEtikets]    Script Date: 29.10.2017 20:56:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HaberEtikets](
	[Haber_ID] [int] NOT NULL,
	[Etiket_ID] [int] NOT NULL,
 CONSTRAINT [PK_dbo.HaberEtikets] PRIMARY KEY CLUSTERED 
(
	[Haber_ID] ASC,
	[Etiket_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Kategori]    Script Date: 29.10.2017 20:56:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kategori](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[KategoriAdi] [nvarchar](150) NOT NULL,
	[ParentID] [int] NOT NULL,
	[URL] [nvarchar](150) NULL,
	[EklenmeTarihi] [datetime] NOT NULL,
	[AktifMi] [bit] NOT NULL,
	[Kullanici_ID] [int] NULL,
 CONSTRAINT [PK_dbo.Kategori] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Kullanici]    Script Date: 29.10.2017 20:56:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kullanici](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AdSoyad] [nvarchar](150) NULL,
	[Email] [nvarchar](max) NOT NULL,
	[Sifre] [nvarchar](16) NOT NULL,
	[EklenmeTarihi] [datetime] NOT NULL,
	[AktifMi] [bit] NOT NULL,
	[Rol_ID] [int] NULL,
 CONSTRAINT [PK_dbo.Kullanici] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Resim]    Script Date: 29.10.2017 20:56:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Resim](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ResimUrl] [nvarchar](max) NULL,
	[EklenmeTarihi] [datetime] NOT NULL,
	[AktifMi] [bit] NOT NULL,
	[HaberID] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Resim] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Rol]    Script Date: 29.10.2017 20:56:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rol](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[RolAdi] [nvarchar](150) NULL,
	[EklenmeTarihi] [datetime] NOT NULL,
	[AktifMi] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Rol] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Slider]    Script Date: 29.10.2017 20:56:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Slider](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Baslik] [nvarchar](255) NULL,
	[URL] [nvarchar](255) NULL,
	[Aciklama] [nvarchar](255) NULL,
	[ResimURL] [nvarchar](255) NOT NULL,
	[EklenmeTarihi] [datetime] NOT NULL,
	[AktifMi] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Slider] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Etiket] ON 

INSERT [dbo].[Etiket] ([ID], [EtiketAdi], [EklenmeTarihi], [AktifMi]) VALUES (4, N'C#', CAST(N'2016-04-20 00:00:00.000' AS DateTime), 1)
INSERT [dbo].[Etiket] ([ID], [EtiketAdi], [EklenmeTarihi], [AktifMi]) VALUES (8, N'MVc', CAST(N'2014-01-01 00:00:00.000' AS DateTime), 1)
INSERT [dbo].[Etiket] ([ID], [EtiketAdi], [EklenmeTarihi], [AktifMi]) VALUES (10, N'WebForm', CAST(N'2014-01-01 00:00:00.000' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Etiket] OFF
SET IDENTITY_INSERT [dbo].[Haber] ON 

INSERT [dbo].[Haber] ([ID], [Baslik], [KisaAciklama], [Aciklama], [Okunma], [Resim], [EklenmeTarihi], [AktifMi], [KategoriID], [KullaniciID]) VALUES (8, N'asdasd', N'eqweq', N'qwewq', 0, N'/External/Haber/c9a246873c5c4898bc0ce15f6fca7c2c.jpg', CAST(N'2017-10-29 15:31:23.427' AS DateTime), 1, 18, 1)
INSERT [dbo].[Haber] ([ID], [Baslik], [KisaAciklama], [Aciklama], [Okunma], [Resim], [EklenmeTarihi], [AktifMi], [KategoriID], [KullaniciID]) VALUES (9, N'asdsa', N'eqweq', N'qweq', 0, N'/External/Haber/45dcc8fe3632497c92d3ed4e1bf8ec60.jpg', CAST(N'2017-10-29 15:31:47.447' AS DateTime), 1, 19, 1)
INSERT [dbo].[Haber] ([ID], [Baslik], [KisaAciklama], [Aciklama], [Okunma], [Resim], [EklenmeTarihi], [AktifMi], [KategoriID], [KullaniciID]) VALUES (11, N'adadasd', N'eqweqe', N'qweqwe', 0, N'/External/Haber/ad059f40e7a542b8a39979f8faa9cdb3.jpg', CAST(N'2017-10-29 16:26:38.503' AS DateTime), 1, 20, 1)
SET IDENTITY_INSERT [dbo].[Haber] OFF
INSERT [dbo].[HaberEtikets] ([Haber_ID], [Etiket_ID]) VALUES (12, 4)
INSERT [dbo].[HaberEtikets] ([Haber_ID], [Etiket_ID]) VALUES (14, 4)
INSERT [dbo].[HaberEtikets] ([Haber_ID], [Etiket_ID]) VALUES (12, 8)
SET IDENTITY_INSERT [dbo].[Kategori] ON 

INSERT [dbo].[Kategori] ([ID], [KategoriAdi], [ParentID], [URL], [EklenmeTarihi], [AktifMi], [Kullanici_ID]) VALUES (18, N'Spor Haberleri', 0, N'/spor', CAST(N'2017-10-29 14:03:06.500' AS DateTime), 1, NULL)
INSERT [dbo].[Kategori] ([ID], [KategoriAdi], [ParentID], [URL], [EklenmeTarihi], [AktifMi], [Kullanici_ID]) VALUES (19, N'Magazin Haberleri', 0, N'/Magazin', CAST(N'2017-10-29 14:03:16.123' AS DateTime), 1, NULL)
INSERT [dbo].[Kategori] ([ID], [KategoriAdi], [ParentID], [URL], [EklenmeTarihi], [AktifMi], [Kullanici_ID]) VALUES (20, N'Siyaset Haberleri', 0, N'/Siyaset', CAST(N'2017-10-29 14:03:27.743' AS DateTime), 1, NULL)
SET IDENTITY_INSERT [dbo].[Kategori] OFF
SET IDENTITY_INSERT [dbo].[Kullanici] ON 

INSERT [dbo].[Kullanici] ([ID], [AdSoyad], [Email], [Sifre], [EklenmeTarihi], [AktifMi], [Rol_ID]) VALUES (1, N'Ramazan Aras', N'ra@hotmail.com', N'1', CAST(N'2016-06-19 00:00:00.000' AS DateTime), 1, 1)
SET IDENTITY_INSERT [dbo].[Kullanici] OFF
SET IDENTITY_INSERT [dbo].[Resim] ON 

INSERT [dbo].[Resim] ([ID], [ResimUrl], [EklenmeTarihi], [AktifMi], [HaberID]) VALUES (4, N'/External/Haber/9abc52e67d3d4c9bb9156fb2b939a09b.jpg', CAST(N'2017-10-29 15:31:28.723' AS DateTime), 1, 8)
INSERT [dbo].[Resim] ([ID], [ResimUrl], [EklenmeTarihi], [AktifMi], [HaberID]) VALUES (5, N'/External/Haber/c3377a436a2c46679e6e16b47ee871a2.jpg', CAST(N'2017-10-29 15:31:47.533' AS DateTime), 1, 9)
INSERT [dbo].[Resim] ([ID], [ResimUrl], [EklenmeTarihi], [AktifMi], [HaberID]) VALUES (9, N'/External/Haber/20d72757c35d4f389396d1d8ddf6ada9.jpg', CAST(N'2017-10-29 16:33:08.050' AS DateTime), 1, 11)
SET IDENTITY_INSERT [dbo].[Resim] OFF
SET IDENTITY_INSERT [dbo].[Rol] ON 

INSERT [dbo].[Rol] ([ID], [RolAdi], [EklenmeTarihi], [AktifMi]) VALUES (1, N'Admin', CAST(N'2016-06-19 00:00:00.000' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Rol] OFF
SET IDENTITY_INSERT [dbo].[Slider] ON 

INSERT [dbo].[Slider] ([ID], [Baslik], [URL], [Aciklama], [ResimURL], [EklenmeTarihi], [AktifMi]) VALUES (1, N'sada', N'eqwe', N'qweqwe', N'/External/Slider/da8063f93e124b84b81a909880f75287.jpg', CAST(N'2017-10-29 18:52:05.283' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Slider] OFF
/****** Object:  Index [IX_KategoriID]    Script Date: 29.10.2017 20:56:22 ******/
CREATE NONCLUSTERED INDEX [IX_KategoriID] ON [dbo].[Haber]
(
	[KategoriID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_KullaniciID]    Script Date: 29.10.2017 20:56:22 ******/
CREATE NONCLUSTERED INDEX [IX_KullaniciID] ON [dbo].[Haber]
(
	[KullaniciID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Etiket_ID]    Script Date: 29.10.2017 20:56:22 ******/
CREATE NONCLUSTERED INDEX [IX_Etiket_ID] ON [dbo].[HaberEtikets]
(
	[Etiket_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Haber_ID]    Script Date: 29.10.2017 20:56:22 ******/
CREATE NONCLUSTERED INDEX [IX_Haber_ID] ON [dbo].[HaberEtikets]
(
	[Haber_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Kullanici_ID]    Script Date: 29.10.2017 20:56:22 ******/
CREATE NONCLUSTERED INDEX [IX_Kullanici_ID] ON [dbo].[Kategori]
(
	[Kullanici_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Rol_ID]    Script Date: 29.10.2017 20:56:22 ******/
CREATE NONCLUSTERED INDEX [IX_Rol_ID] ON [dbo].[Kullanici]
(
	[Rol_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_HaberID]    Script Date: 29.10.2017 20:56:22 ******/
CREATE NONCLUSTERED INDEX [IX_HaberID] ON [dbo].[Resim]
(
	[HaberID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Haber]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Haber_dbo.Kategori_KategoriID] FOREIGN KEY([KategoriID])
REFERENCES [dbo].[Kategori] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Haber] CHECK CONSTRAINT [FK_dbo.Haber_dbo.Kategori_KategoriID]
GO
ALTER TABLE [dbo].[Haber]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Haber_dbo.Kullanici_KullaniciID] FOREIGN KEY([KullaniciID])
REFERENCES [dbo].[Kullanici] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Haber] CHECK CONSTRAINT [FK_dbo.Haber_dbo.Kullanici_KullaniciID]
GO
ALTER TABLE [dbo].[HaberEtikets]  WITH CHECK ADD  CONSTRAINT [FK_dbo.HaberEtikets_dbo.Etiket_Etiket_ID] FOREIGN KEY([Etiket_ID])
REFERENCES [dbo].[Etiket] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HaberEtikets] CHECK CONSTRAINT [FK_dbo.HaberEtikets_dbo.Etiket_Etiket_ID]
GO
ALTER TABLE [dbo].[HaberEtikets]  WITH CHECK ADD  CONSTRAINT [FK_dbo.HaberEtikets_dbo.Haber_Haber_ID] FOREIGN KEY([Haber_ID])
REFERENCES [dbo].[Haber] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HaberEtikets] CHECK CONSTRAINT [FK_dbo.HaberEtikets_dbo.Haber_Haber_ID]
GO
ALTER TABLE [dbo].[Kategori]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Kategori_dbo.Kullanici_Kullanici_ID] FOREIGN KEY([Kullanici_ID])
REFERENCES [dbo].[Kullanici] ([ID])
GO
ALTER TABLE [dbo].[Kategori] CHECK CONSTRAINT [FK_dbo.Kategori_dbo.Kullanici_Kullanici_ID]
GO
ALTER TABLE [dbo].[Kullanici]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Kullanici_dbo.Rol_Rol_ID] FOREIGN KEY([Rol_ID])
REFERENCES [dbo].[Rol] ([ID])
GO
ALTER TABLE [dbo].[Kullanici] CHECK CONSTRAINT [FK_dbo.Kullanici_dbo.Rol_Rol_ID]
GO
ALTER TABLE [dbo].[Resim]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Resim_dbo.Haber_HaberID] FOREIGN KEY([HaberID])
REFERENCES [dbo].[Haber] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Resim] CHECK CONSTRAINT [FK_dbo.Resim_dbo.Haber_HaberID]
GO
USE [master]
GO
